.log-content {  
  .content-card {
    position: relative;
    width: 90%;
    margin: 0 auto 40px;    
    min-height: 600px;
  }

  .loading-panel {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    opacity: 0.8;

    .progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
    }
  }

  .log-list {
    list-style: none;
    text-align: left;
    color: #434343;
    padding: 0 20px;

    li {
      display: flex;
      align-items: stretch;

      .time {
        display: inline-block;        
        font-family: monospace;
        line-height: 2.5em;
        margin-right: 1em;
        font-size: 14px;
      }

      .nick {
        font-weight: 700;
      }

      p {
        flex: 1;
        margin: 0;
        line-height: 2em;
        padding-left: 1em;
        border-left: 1px solid #999;
        font-weight: 300;
      }
    }
  }
}