.nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  .detail-info {
    display: flex;    
    float: right;
    position: absolute;
    top: 1em;
    right: 2em;
  }

  .input-label {
    color: #fff;
    margin-right: 0.5em;
    line-height: 32px;
  }

  .select-bar {    
    width: 100px;
    color: #fff;
    margin-right: 1.5em;

    &:before {
      background-color: #fff;
    }

    &:hover:before {
      background-color: #fff !important;
    }

    svg {
      color: #fff;
    }
  }

  .date-picker {
    display: flex;

    .picker-label {
      line-height: 32px;
      margin-right: 0.5em;
    }

    .picker > div {
      color: #fff;

      &:before {
        background-color: #fff;
      }
    }
  }
}
