body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Hans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, "Lantinghei SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "Microsoft Sans Serif", sans-serif;
}
